// custom variables
body {
  background-color: #5eca55;
  background-color: #4ba2ca;
  background-color: #fffd3d;
}

h1 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 40px;
}

$custom-colors: (
  "custom-color": #900
);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
