
// Fonts
@charset "UTF-8";

@font-face {
  font-family: 'Annie Use Your Telescope';
  font-weight: normal;
  font-style: normal;
  src: url('AnnieUseYourTelescope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bolton';
  font-weight: normal;
  font-style: normal;
  src: url('Bolton.ttf') format('truetype');
}


// change bootstrap
$primary: #4ba2ca;
$headings-font-family: 'Annie Use Your Telescope';



$theme-colors: (
  'primary': #4ba2ca,
  //'primary-background': #bde4f7,
  'secondary-background': white,
  'search-icon-color': #0b604d,

  'text-color': #185a9d,
);

$font-family-sans-serif: Roboto, Sans-serif;

// Regular CSS

h1, h2, h3, h4, h5, h6 {
  font-family: 'Annie Use Your Telescope', sans-serif;
}

h1 {
  color: #185a9d;
}

.container-md {
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// custom classes
$custom-colors: (
  "myBlue": #4ba2ca,
  "myGreen": #5eca55,
  "myYellow": #fffd3d,
);


$theme-colors: map-merge($theme-colors, $custom-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
